// --------------------------------
// Utilies Styles
// --------------------------------
.gap-2 {
  column-gap: 10px;
}
.gap-1 {
  column-gap: 5px;
}
.gap-3 {
  column-gap: 20px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  &[data-col="2"] {
    grid-template-columns: repeat(2, 1fr);
  }
  &[data-col1="2"],
  &[data-col2="1"] {
    grid-template-columns: 2fr 1fr;
  }
  &[data-col1="1"],
  &[data-col2="3"] {
    grid-template-columns: 1fr 3fr;
  }
  &[data-col1="1"],
  &[data-col2="4"] {
    grid-template-columns: 1fr 4fr;
  }
  &[data-col="3"] {
    grid-template-columns: repeat(3, 1fr);
  }
  &[data-col="4"] {
    grid-template-columns: repeat(4, 1fr);
  }
  &[data-col="5"] {
    grid-template-columns: repeat(5, 1fr);
  }
  &[data-col="6"] {
    grid-template-columns: repeat(6, 1fr);
  }
  &[data-col="7"] {
    grid-template-columns: repeat(7, 1fr);
  }
  &[data-col="8"] {
    grid-template-columns: repeat(8, 1fr);
  }
}

.d-none {
  display: none !important;
}

.container {
  width: min(1200px, 95%);
  margin-inline: auto;
}
