// -------------------------------
// Global styles
// -------------------------------
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  line-height: 1.2;
  text-rendering: optimizeLegibility;
}
ul {
  li {
    list-style: none;
  }
}
a {
  text-decoration: none;
  display: inline-block;
  color: #000;
  &:hover {
    color: #000;
  }
}
// --------------------------------
// Utilies Styles
// --------------------------------

@import url("../scss/layout");
// --------------------------------
// ui Styles
// --------------------------------

@import url("../scss/ui");
// ------------------------------------
//App_Layout styles
// ------------------------------------
.app_layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

// ------------------------------------
//Header styles
// ------------------------------------
header {
  padding: 20px 0;
  box-shadow: 0 0 9px -1px rgba(0, 0, 0, 0.1);
}
.logo_box {
}
// -------------------------------------
// Auth-box Styles
// -------------------------------------
.auth_box {
  figure {
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #ddd;
      text-align: center;
    }
  }
  h3 {
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 2px;
    span {
      font-size: 12px;
      font-weight: 300;
    }
  }
  ul {
    display: flex;
    justify-content: end;
    gap: 10px;
    li {
      transform: translateY(0px);
      border-bottom: 1px solid #aaaaaa08;
      transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);

      &:hover {
        transform: translateY(-5px);
        border-bottom: 1px solid #aaa;
        a {
          padding: 10px 10px 4px;
        }
      }
      a {
        padding: 10px 10px;
        font-weight: 600;
      }
    }
  }
  &.login {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: end;
  }
  &.not_login {
  }
}
// ----------------------------------
// Main Component styles
// ----------------------------------
main {
  padding: 20px 0 0px;
}
// ----------------------------------
// nav.sidebar compoennet
// ----------------------------------

nav.sidebar {
  ul {
    li {
      padding: 10px 10px;
      width: 100%;
      background: #ffffff;
      font-size: 16px;
      color: #333;
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      font-weight: 500;
      border-radius: 5px;
      display: flex;
      gap: 10px;
      align-items: center;
      transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
      transform: scale(1);
      transform-origin: right;
      cursor: pointer;
      margin-bottom: 10px;
      &:hover {
        box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.1);
        background: #ffffff;
        color: rgb(168, 81, 255);
        transform: scaleX(1.05);
        svg {
          color: rgb(168, 81, 255);
        }
      }
      &.active {
        box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.1);
        background: #ffffff;
        color: rgb(168, 81, 255);
        transform: scaleX(1.05);
        svg {
          color: rgb(168, 81, 255);
        }
      }
      &:not(:first-child) {
      }
      span {
        color: #333;
      }
    }
  }
}
// ---------------------
// Todo-box componenet
// ---------------------

// ---------------------
// Todo-List componenet
// ---------------------
.todo_list {
  display: flex;
  position: relative;
  flex-direction: column;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  cursor: pointer;
  margin-bottom: 20px;
  z-index: 9;
  &:hover {
    box-shadow: 0 0 8px -1px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);

    figure > svg {
      transform: translate(0, -20px);
    }
  }
  figure {
    min-height: 70px;
    width: 100%;
    border-radius: 8px;
    background-color: #ddd;
    height: 70px;
    overflow: hidden;
    svg {
      font-size: 94px;
      margin-top: 0px;
      color: #aaa;
      transform: translate(0, 0px);
      transition: all 0.3s ease-in-out;
    }
  }
  .text {
    margin-top: 10px;
    padding-inline: 14px;
    padding-bottom: 20px;
    background: #fff;
    h3 {
      font-size: 18px;
      margin-bottom: 4px;
    }
    h4 {
      font-size: 12px;
      font-weight: 700;
      background-color: rgb(255 39 39 / 11%);
      color: rgb(255, 39, 39);
      display: inline-block;
      padding: 5px 10px;
      margin-top: 6px;
      border-radius: 4px;
    }
    p {
      font-size: 14px;
      font-weight: 400;
      margin-top: 10px;
      line-height: 20px;
      margin-bottom: 10px;
    }

    .btns {
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 10px;
    }
  }
  h6 {
    position: absolute;
    top: 10px;
    right: 16px;
    font-size: 25px;
    color: #333;
    cursor: pointer;
    transition: all 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform: scale(1);
    &:hover {
      color: #777;
      transform: scale(1.1);
    }
  }
}

button {
  padding: 6px 15px;
  border: none;
  font-weight: 400;
  border-radius: 5px;
  background-color: #fafafa;
  cursor: pointer;
  &.medium {
    padding: 10px 20px;
    background: #eee;
    font-weight: 500;
    &:hover {
      background-color: #f5f5f5;
    }
  }
  &:hover {
    background-color: #fff;
  }
}
h2.Todo_head {
  font-size: 18px;
  margin-bottom: 10px;
  line-height: 32px;
}
.todo-btns {
  margin-left: auto;
  button {
    font-size: 16px;
  }
}
.todo-select {
  margin-bottom: 30px;
  .left {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}

.todo-form {
  form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 20px;
    .group {
      display: flex;
      flex-direction: column;
      gap: 5px;
      label {
        font-size: 14px;
        font-weight: 500;
      }
      textarea {
        height: 120px;
        width: 100%;
        border-radius: 5px;
        padding: 8px 10px;
        border: 1px solid #ddd;
        color: #000;
        font-size: 14px;
        &::placeholder {
          color: #777;
        }
        &:focus {
          outline: 1px solid rebeccapurple;
        }
      }
      select {
        height: 35px;
        width: 100%;
        border-radius: 5px;
        padding: 8px 10px;
        border: 1px solid #ddd;
        color: #000;
        font-size: 14px;
        &::placeholder {
          color: #777;
        }
        &:focus {
          outline: 1px solid rebeccapurple;
        }
        option {
          padding: 10px;
        }
      }
      input:not([type="submit"]) {
        height: 35px;
        width: 100%;
        border-radius: 5px;
        padding: 8px 10px;
        border: 1px solid #ddd;
        color: #000;
        font-size: 14px;
        &::placeholder {
          color: #777;
        }
        &:focus {
          outline: 1px solid rebeccapurple;
        }
      }
      input[type="submit"] {
        padding: 10px 30px;
        border-radius: 5px;
        width: max-content;
        background-color: #2f2f2f;
        border: 1px solid #ddd;
        color: #fff;
        cursor: pointer;
        text-transform: capitalize;
        margin-left: auto;
        margin-top: 10px;
        &:hover {
          background-color: #717171;
        }
      }
      &.span-full {
        grid-column: 1/-1;
      }
    }
  }
}
.todo_list-box {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 20px;
  padding-inline: 20px;
  max-height: 340px;
  &::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: #d0d0d0;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #e4e4e4;
  }
}
// @keyframes animate {
//   0% {
//     transform: translate(0, 0);
//   }
//   100% {
//     transform: translate(200px, 0);
//   }
// }
