.menu-box {
  position: relative;
  .menu-title {
    height: 40px;
    background-color: #fff;
    border: 1px solid #e2e2e2;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 16px;
    border-radius: 4px;
    padding-inline: 10px;
    cursor: pointer;
    font-weight: 400;
    justify-content: space-between;
    &:active {
      border: 1px solid #cdcdcd;
      background-color: #f1f1f1;
    }
    &:hover {
      background-color: #fafafa;
    }
    span {
      .down {
        transform: translateY(-2px);
        display: block;
      }
      .up {
        transform: translateY(5px);
        display: block;
      }
    }
  }

  ul.menu-list {
    width: 100%;
    max-width: 100%;
    margin-inline: auto;
    background: #fff;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    right: 0;
    position: absolute;
    transform-origin: right;
    transform: scale(0, 0) translateY(0);
    opacity: 0;
    z-index: 12;
    overflow: hidden;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    &:active {
      background-color: #f8f8f8;
    }
    &:hover {
      background-color: #f8f8f8;
    }
    li {
      font-weight: 400;
      font-size: 14px;
      background-color: #fff;
      padding: 10px 12px;
      &:not(:first-child) {
        border-top: 1px solid #ddd;
      }
      &:hover {
        background: #f7f7f7;
        cursor: pointer;
      }
    }
    &.open {
      opacity: 1 !important ;
      transform: scale(1, 1) translateY(10px);
      transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    }
  }
}
.model {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: transparent;
  display: grid;
  place-content: center;
  z-index: 20;
  .modal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
    background: #00000037;
  }
  .modal-main {
    position: relative;
    z-index: 9;
    width: 800px;
    max-width: 100%;
    border-radius: 10px;
    background: #fff;
    animation: popin 0.5s ease-in-out;
    .modal-header {
      padding: 20px 20px 10px;
      & > h2 {
        font-size: 18px;
        display: flex;
        justify-content: space-between;
        span {
          font-size: 30px;
          line-height: 11px;
          cursor: pointer;
        }
      }
    }
    .modal-body {
      padding: 10px 20px 20px;
    }
    .modal-footer {
      padding: 10px 20px 10px;
      text-align: center;
      p {
        font-size: 12px;
        display: flex;
        justify-content: center;
        gap: 6px;
        align-items: center;
        flex-direction: row-reverse;
        svg {
          font-size: 15px;
        }
      }
    }
  }
}

// Datepicker
.date-picker-container {
  position: relative;
  display: inline-block;
}

.date-picker-button {
  cursor: pointer;
}

.date-picker {
  position: absolute;
  margin-top: 1rem;
  top: 100%;
  transform: translateX(-50%);
  left: 50%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05), 0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.06), 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  background-color: white;
}

.date-picker-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 0.8rem;
  align-items: center;
}

.date-picker-grid {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(7, 2rem);
  grid-auto-rows: 2rem;
}

.date-picker-grid > * {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.date-picker-grid-header {
  font-weight: bold;
  font-size: 0.75rem;
  color: #333;
}

.date-picker-grid-dates {
  color: #555;
}

.date-picker-other-month-date {
  color: #aaa;
}

.date-picker-grid-dates > .date {
  cursor: pointer;
  border-radius: 0.25rem;
  border: none;
  background: none;
}

.date.today {
  border: 1px solid hsl(200, 100%, 50%);
}

.date-picker-grid-dates > *:hover {
  background-color: hsl(200, 100%, 80%);
  color: black;
}

.date.selected {
  background-color: hsl(200, 100%, 50%);
  color: white;
}

.month-button {
  background: none;
  border: none;
  cursor: pointer;
}

.month-button:hover {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border-radius: 0.5rem;
}
span.date-picker-button.date-pick {
  width: 100%;
  display: block;
  border: 1px solid #ddd;
  height: 35px;
  padding: 7px;
  font-size: 14px;
}
@keyframes popin {
  0% {
    opacity: 0;
    transform: translateY(-50px) scale(0, 0);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1, 1);
  }
}
/* Animation for entering the modal */
.modal-enter {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms ease, transform 300ms ease;
}

/* Animation for entered state */
.modal-enter-active {
  opacity: 1;
  transform: scale(1);
}

/* Animation for exiting the modal */
.modal-exit {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms ease, transform 300ms ease;
}

/* Animation for exited state */
.modal-exit-active {
  opacity: 0;
  transform: scale(0.9);
}
